@import './base.scss';
.search-con{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 125px;
        height: 56px;
    }
    .logo a{
        width: 125px;
        height: 56px;
        display: block;
        background-image: url(../images/logo.png);
    }
    .search_waps{
        width: 500px;
        height: 52px;
        margin-left: 200px;
    }
    .search-con{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .search-type{
        width: 63px;
        height: 30px;
        border: 1px solid #dd00a7;
        box-sizing:border-box;
        font-size: 14px;
        color: #A5A5A5;
    }
    .search-type div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-type i{
        background-image: $icon-bg;
        background-position:-145px -1469px;
        width: 11px;
        height: 7px;
        display: block;
        margin-left:5px;
    }
    .search-con label{
        flex: 1;
        height: 30px;
        border: 1px solid #dd00a7;
        border-left: none;
        border-right: none;
        box-sizing:border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-con input{
        width: calc(100% - 25px);;
        height: 18px;
        border: none;
        background: #fff;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        color: #bbb;
        line-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .search-con>label>i{
        width: 15px;
         height: 20px;
         display: block;
         background-image: url(../images/search.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: 100%;
         margin-right: 3px;
         opacity: .55;
    }
    .search-con>button{
        width: 90px;
        height: 30px;
        border: 1px solid #dd00a7;
        background-color:#dd00a7 ;
        box-sizing:border-box;
        font-size: 14px;
        color: #fff;
    }
    .search-title{
        width: 500px;
        height: 14px;
        margin-top: 6px;
        display: flex;
        align-items: center;
    }
    .search-title a{
        font-size: 12px;
       color:#A5A5A5;
        margin-right:8px;
    }
    .search-title a:nth-child(1){
        color:$hover;
    }
    .search-title a:hover{
        color:$hover;
    }

    // 购物车
    .cat{
        width: 240px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content:flex-end ;
    }
    .i-cart{
        background:  $icon-bg -100px -701px;
        width: 27px;
        height: 20px;
        display: block;
        position: relative;
    }
    .i-cart span{
        background-image: url(../images/气泡.png);
        width: 20px;
        height: 26px;
        display: block;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height:20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: -18px;
        right: -5px;

    }
    .cat p{
        font-size: 12px;
        color: #5E5E5E;
        margin-left: 5px;
        line-height: 12px;
        margin-right: 20px;
    }
    .cat p:hover{
        color:$hover;
        border-bottom: 1px solid $hover;
    }
    .cat>i{
        width: 8px;
        height: 5px;
        display: block;
        background-image: url(../images/倒三角.png);
        background-position: center;
        background-size: cover;
    }
}