@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
}

.category-box {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dd00a7;
  background: #f8f8f8;
}

.category-box .category-wbox {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}

.category-box .category-navBox {
  width: 200px;
}

.category-box .category-navBox h2 {
  height: 40px;
  width: 200px;
  text-align: center;
  color: #585858;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  background-color: #f1f1f1;
}

.category-box .navBox {
  width: 200px;
  height: 450px;
  background: #333;
  opacity: .7;
}

.category-box .navBox li {
  height: 30px;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.category-box .navBox li a {
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}

.category-box .navBox li:hover {
  background-color: #fbfbfb;
}

.category-box .navBox li:hover a {
  color: #333;
}

.category-box .mainnav {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
}

.category-box .mainnav li {
  height: 40px;
  padding: 0 13px;
  display: flex;
  align-items: center;
}

.category-box .mainnav li a {
  font-size: 14px;
  color: #000;
}

.category-box .mainnav li a:hover {
  color: #f5004b;
}

.category-box .mainnav span {
  width: 1px;
  height: 13px;
  background-color: #b2b2b2;
  display: block;
}

.banner-con {
  width: 100%;
  height: 450px;
  background: #defdf7;
}

.banner-con .banner-img {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  padding-left: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.banner-con .banner-img .swiper-wrapper div {
  width: 750px;
  height: 450px;
}

.banner-con .banner-img .swiper-container {
  width: 750px;
  height: 450px;
  margin: 0;
}

.banner-con .banner-img .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 0;
}

.banner-con .banner-img .swiper-pagination-bullet-active {
  background-color: #f5004b;
}

.banner-con .banner-img .swiper-but {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end !important;
  position: absolute;
  top: 50%;
}

.banner-con .banner-img .swiper-but div {
  position: static;
  height: 80px;
  width: 40px;
  background-color: #000;
  opacity: .3;
}

.banner-con .banner-img .gm_sever {
  width: 250px;
  height: 430px;
  background-color: #fff;
  overflow: hidden;
}

.banner-con .banner-img .gm_sever .gome_news {
  height: 147px;
  width: 220px;
  margin: 0 15px;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
}

.banner-con .banner-img .gm_sever .gome_news_title {
  height: 36px;
  width: 100%;
}

.banner-con .banner-img .gm_sever .gome_news_title h2 {
  padding-top: 12px;
  font-size: 12px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-con .banner-img .gm_sever .gome_news_title h2 a {
  font-size: 12px;
  color: #888;
}

.banner-con .banner-img .gm_sever .server_box {
  height: 146px;
  width: 220px;
  margin: 0 15px;
}

.banner-con .banner-img .gm_sever .edit-mode {
  width: 100%;
  margin-top: 7px;
}

.banner-con .banner-img .gm_sever .gome_news_con span {
  display: flex;
  width: 100%;
}

.banner-con .banner-img .gm_sever .gome_news_con span a {
  font-size: 12px;
  color: #888888;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:hover {
  color: #f5004b;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:nth-child(1) {
  width: 24px;
  height: 26px;
  overflow: hidden;
  margin-right: 7px;
  line-height: 26px;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 196px;
  line-height: 26px;
}

.banner-con .banner-img .gm_sever .server_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-con .banner-img .gm_sever .server_box div {
  width: 55px;
  height: 70px;
  margin-right: 28px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-con .banner-img .gm_sever .server_box div i {
  color: #373737;
  font-size: 32px;
}

.banner-con .banner-img .gm_sever p {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-size: 12px;
  cursor: pointer;
  margin-top: 3px;
}

.countdown_main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 252px;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.countdown_main .countdown_left {
  height: 252px;
  width: 950px;
  border-top: 1px solid #dd00a7;
}

.countdown_main .countdown_left_title {
  height: 40px;
  width: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.countdown_main .countdown_left_title p {
  font-size: 18px;
  color: #f5004b;
}

.countdown_main .countdown_left_con {
  width: 100%;
  height: 209px;
  border-bottom: 1px solid #e6e6e6;
}

.countdown_main .countdown_left_con ul {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #e6e6e6;
}

.countdown_main .countdown_left_con ul li {
  height: 209px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-left: 0;
}

.countdown_main .countdown_left_con ul img {
  width: 120px;
  height: 120px;
  align-self: center;
}

.countdown_main .countdown_left_con ul span {
  display: block;
  margin-left: 20px;
  box-sizing: border-box;
  color: #ff0027;
  font-size: 20px;
  margin-top: 6px;
}

.countdown_main .countdown_left_con ul p {
  color: #5e5e5e;
  font-size: 12px;
  line-height: 18px;
  margin: 0 20px;
  overflow: hidden;
  height: 18px;
}

.countdown_main .countdown_right {
  height: 252px;
  width: 240px;
  border: 1px solid #e6e6e6;
  border-top-color: #dd00a7;
}

.countdown_main .countdown_right img {
  width: 100%;
  height: 100%;
}
