@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.mienr {
  width: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}
