.container-con {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container-con .mainbav {
  width: 1200px;
  height: 541px;
}

.container-con .mainbav .mainbav_title {
  width: 100%;
  height: 38px;
  padding-top: 32px;
  border-bottom: 1px solid #719ef7;
  display: flex;
  justify-content: space-between;
}

.container-con .mainbav .mainbav_title h2 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  line-height: 38px;
}

.container-con .mainbav .mainbav_title ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-con .mainbav .mainbav_title ul li {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
}

.container-con .mainbav .mainbav_title ul li {
  font-size: 14px;
  color: #5e5e5e;
}

.container-con .mainbav .list_active {
  background-color: #719ef7;
  color: #fff !important;
}

.container-con .mainbav .mainbav_left {
  height: 470px;
  width: 210px;
  float: left;
}

.container-con .mainbav .mainbav_left .mainbav_left_img {
  width: 220px;
  height: 278px;
  margin-left: -10px;
}

.container-con .mainbav .mainbav_left .mainbav_left_img img {
  width: 100%;
  height: 100%;
}

.container-con .mainbav .mainbav_left h2 {
  background: #6294f6;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.container-con .mainbav .mainbav_left h2 a {
  font-size: 14px;
  color: #f0f0f0;
}

.container-con .mainbav .mainbav_left h2 a:hover {
  border-bottom: 1px solid #f0f0f0;
}

.container-con .mainbav .mainbav_left .mainbav_left_bone {
  height: 160px;
  width: 210px;
  background-color: #719ef7;
  padding: 15px;
  padding-top: 8px;
  box-sizing: border-box;
}

.container-con .mainbav .mainbav_left .mainbav_left_bone a {
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

.container-con .mainbav .mainbav_nsw {
  width: 990px;
  height: 470px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container-con .mainbav .mainbav_nsw .nsw_tab {
  width: 990px;
  height: 470px;
  position: absolute;
  display: none;
  top: 0;
}

.container-con .mainbav .mainbav_nsw .nsw_active {
  display: block;
}

.container-con .mainbav .mainbav_nsw .nsw_btn {
  width: 30px;
  height: 60px;
  display: block;
  background: #333;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.container-con .mainbav .mainbav_nsw #slider_swiper {
  width: 389px;
  height: 470px;
  float: left;
  margin: 0;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-next2, .container-con .mainbav .mainbav_nsw #slider_swiper .button-prev2 {
  background-color: #333;
  opacity: .5;
  color: #fff;
  width: 40px;
  height: 60px;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-next2 {
  right: 0px;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-prev2 {
  left: 0px;
}

.container-con .mainbav .mainbav_nsw #slider {
  width: 389px;
  height: 470px;
  float: left;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps {
  width: 372px;
  height: 102px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps > li {
  width: 122px;
  height: 50px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps > li img {
  width: 100px;
  height: 30px;
}

.container-con .mainbav .mainbav_nsw #slider .buent {
  width: 100%;
  position: absolute;
  bottom: calc(50% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-con .mainbav .mainbav_nsw #slider .buent i {
  width: 30px;
  height: 60px;
  display: block;
  background-color: #000;
  opacity: .5;
  color: #fff;
}

.container-con .mainbav .mainbav_nsw #slider .buent i {
  font-size: 30px;
  line-height: 60px;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment {
  width: 601px;
  height: 470px;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment a {
  display: block;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment a img {
  width: 199px;
  height: 234px;
}

.container-con .mainbav .nsw_btn i {
  font-size: 30px;
  line-height: 60px;
  width: 30px;
  height: 60px;
  display: block;
  background-color: #000;
  opacity: .5;
  color: #fff;
}

.container-con .mainbav .nsw_tab_uls {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.container-con .mainbav .nsw_tab_uls li {
  width: 198px;
  height: 235px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.container-con .mainbav .nsw_tab_uls li img {
  width: 130px;
  height: 130px;
  margin: 20px 0 15px 34px;
}

.container-con .mainbav .nsw_tab_uls li p {
  width: 157px;
  height: 36px;
  margin-left: 20px;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px;
  color: #5e5e5e;
}

.container-con .mainbav .nsw_tab_uls li span {
  width: 157px;
  margin-left: 20px;
  height: 20px;
  display: block;
  line-height: 26px;
  color: #ff0027;
  font-size: 14px;
}
