.footer-con {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0;
  background: #f7f7f7;
  position: relative;
}

.footer-con .clearfix {
  width: 315px;
  height: 85px;
  display: block;
  float: left;
  display: flex;
}

.footer-con .clearfix strong {
  font-size: 16px;
  color: #333;
}

.footer-con .clearfix p {
  font-size: 12px;
  color: #999;
}

.footer-con .clearfix i {
  width: 45px;
  height: 45px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer-con .clearfix div {
  width: 210px;
  overflow: hidden;
  height: 45px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-con .clearfix:nth-child(1) > i {
  background-position: 0 -135px;
}

.footer-con .clearfix:nth-child(2) > i {
  background-position: -45px -135px;
}

.footer-con .footer_list {
  display: flex;
  width: 100%;
  height: 22px;
}

.footer-con .footer_list li {
  padding-right: 13px;
}

.footer-con .footer_list a {
  font-size: 12px;
  color: #333;
}

.footer-con .gome-foot-credit {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
  height: 72px;
  overflow: hidden;
  display: flex;
}

.footer-con .gome-foot-credit li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-con .gome-foot-credit i {
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer-con .gome-foot-credit b {
  height: 36px;
  color: #999;
  font-size: 12px;
  padding: 0 20px 0 5px;
}

.footer-con .gome-foot-credit li:nth-child(1) i {
  background-position: 0 -180px;
}

.footer-con .gome-foot-credit li:nth-child(2) i {
  background-position: -35px -180px;
}

.footer-con .gome-foot-credit li:nth-child(3) i {
  background-position: -70px -180px;
}

.footer-con .gome-foot-credit li:nth-child(4) i {
  background-position: -105px -180px;
}

.footer-con .gome-foot-credit li:nth-child(5) i {
  background-position: -140px -180px;
}

.footer-con .gome-foot-credit li:nth-child(6) i {
  background-position: -175px -180px;
}

.footer-con .gome-foot-credit li:nth-child(7) i {
  background-position: -238px -180px;
}

.footer-con > p {
  font-size: 12px;
  color: #999;
  height: 22px;
}

.footer_wx {
  width: 250px;
  height: 112px;
  display: flex;
  position: absolute;
  top: 18px;
  right: 0;
}

.footer_wx p {
  margin: 0 10px;
  text-align: center;
}

.footer_wx p > span {
  font-size: 12px;
  color: #999;
}

.footer_wx p > i {
  width: 40px;
  height: 25px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer_wx > p:nth-child(1) i {
  background-position: -105px -135px;
}

.footer_wx > p:nth-child(2) i {
  background-position: -185px -135px;
}
