@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.mienr {
  width: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}

.container-con {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container-con .mainbav {
  width: 1200px;
  height: 541px;
}

.container-con .mainbav .mainbav_title {
  width: 100%;
  height: 38px;
  padding-top: 32px;
  border-bottom: 1px solid #719ef7;
  display: flex;
  justify-content: space-between;
}

.container-con .mainbav .mainbav_title h2 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  line-height: 38px;
}

.container-con .mainbav .mainbav_title ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-con .mainbav .mainbav_title ul li {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
}

.container-con .mainbav .mainbav_title ul li {
  font-size: 14px;
  color: #5e5e5e;
}

.container-con .mainbav .list_active {
  background-color: #719ef7;
  color: #fff !important;
}

.container-con .mainbav .mainbav_left {
  height: 470px;
  width: 210px;
  float: left;
}

.container-con .mainbav .mainbav_left .mainbav_left_img {
  width: 220px;
  height: 278px;
  margin-left: -10px;
}

.container-con .mainbav .mainbav_left .mainbav_left_img img {
  width: 100%;
  height: 100%;
}

.container-con .mainbav .mainbav_left h2 {
  background: #6294f6;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.container-con .mainbav .mainbav_left h2 a {
  font-size: 14px;
  color: #f0f0f0;
}

.container-con .mainbav .mainbav_left h2 a:hover {
  border-bottom: 1px solid #f0f0f0;
}

.container-con .mainbav .mainbav_left .mainbav_left_bone {
  height: 160px;
  width: 210px;
  background-color: #719ef7;
  padding: 15px;
  padding-top: 8px;
  box-sizing: border-box;
}

.container-con .mainbav .mainbav_left .mainbav_left_bone a {
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

.container-con .mainbav .mainbav_nsw {
  width: 990px;
  height: 470px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container-con .mainbav .mainbav_nsw .nsw_tab {
  width: 990px;
  height: 470px;
  position: absolute;
  display: none;
  top: 0;
}

.container-con .mainbav .mainbav_nsw .nsw_active {
  display: block;
}

.container-con .mainbav .mainbav_nsw .nsw_btn {
  width: 30px;
  height: 60px;
  display: block;
  background: #333;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.container-con .mainbav .mainbav_nsw #slider_swiper {
  width: 389px;
  height: 470px;
  float: left;
  margin: 0;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-next2, .container-con .mainbav .mainbav_nsw #slider_swiper .button-prev2 {
  background-color: #333;
  opacity: .5;
  color: #fff;
  width: 40px;
  height: 60px;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-next2 {
  right: 0px;
}

.container-con .mainbav .mainbav_nsw #slider_swiper .button-prev2 {
  left: 0px;
}

.container-con .mainbav .mainbav_nsw #slider {
  width: 389px;
  height: 470px;
  float: left;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps {
  width: 372px;
  height: 102px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps > li {
  width: 122px;
  height: 50px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container-con .mainbav .mainbav_nsw #slider .slider_list_waps > li img {
  width: 100px;
  height: 30px;
}

.container-con .mainbav .mainbav_nsw #slider .buent {
  width: 100%;
  position: absolute;
  bottom: calc(50% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-con .mainbav .mainbav_nsw #slider .buent i {
  width: 30px;
  height: 60px;
  display: block;
  background-color: #000;
  opacity: .5;
  color: #fff;
}

.container-con .mainbav .mainbav_nsw #slider .buent i {
  font-size: 30px;
  line-height: 60px;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment {
  width: 601px;
  height: 470px;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment a {
  display: block;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.container-con .mainbav .mainbav_nsw .nsw_tab_ment a img {
  width: 199px;
  height: 234px;
}

.container-con .mainbav .nsw_btn i {
  font-size: 30px;
  line-height: 60px;
  width: 30px;
  height: 60px;
  display: block;
  background-color: #000;
  opacity: .5;
  color: #fff;
}

.container-con .mainbav .nsw_tab_uls {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.container-con .mainbav .nsw_tab_uls li {
  width: 198px;
  height: 235px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.container-con .mainbav .nsw_tab_uls li img {
  width: 130px;
  height: 130px;
  margin: 20px 0 15px 34px;
}

.container-con .mainbav .nsw_tab_uls li p {
  width: 157px;
  height: 36px;
  margin-left: 20px;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px;
  color: #5e5e5e;
}

.container-con .mainbav .nsw_tab_uls li span {
  width: 157px;
  margin-left: 20px;
  height: 20px;
  display: block;
  line-height: 26px;
  color: #ff0027;
  font-size: 14px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.mienr {
  width: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}

.category-box-nav {
  position: fixed  !important;
  top: 0  !important;
  left: 0  !important;
  height: 50px !important;
  width: 100%;
  background-color: #fff !important;
  box-shadow: #ccc 0 1px 5px;
  border-style: none  !important;
  z-index: 9999  !important;
}

.category-box {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dd00a7;
  background: #f8f8f8;
}

.category-box .category-wbox {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.category-box .category-navBox {
  width: 200px;
  position: relative;
}

.category-box .category-navBox h2 {
  height: 40px;
  width: 200px;
  text-align: center;
  color: #585858;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  background-color: #f1f1f1;
}

.category-box .navBox {
  width: 200px;
  height: 450px;
  background: #333;
  opacity: 0.7;
  position: absolute;
  top: 40px;
}

.category-box .navBox li {
  height: 30px;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.category-box .navBox li a {
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}

.category-box .navBox li:hover {
  background-color: #fbfbfb;
}

.category-box .navBox li:hover a {
  color: #333;
}

.category-box .mainnav {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
}

.category-box .mainnav li {
  height: 40px;
  padding: 0 13px;
  display: flex;
  align-items: center;
}

.category-box .mainnav li a {
  font-size: 14px;
  color: #000;
}

.category-box .mainnav li a:hover {
  color: #f5004b;
}

.category-box .mainnav span {
  width: 1px;
  height: 13px;
  background-color: #b2b2b2;
  display: block;
}

.banner-con {
  width: 100%;
  height: 450px;
  background: #defdf7;
  z-index: -5;
}

.banner-con .banner-img {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  padding-left: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.banner-con .banner-img .swiper-wrapper div {
  width: 750px;
  height: 450px;
}

.banner-con .banner-img .swiper-container1 {
  width: 750px;
  height: 450px;
  margin: 0;
  z-index: auto;
}

.banner-con .banner-img .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 0;
}

.banner-con .banner-img .swiper-pagination-bullet-active {
  background-color: #f5004b;
}

.banner-con .banner-img .swiper-but {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end !important;
  position: absolute;
  top: 50%;
}

.banner-con .banner-img .swiper-but div {
  position: static;
  height: 80px;
  width: 40px;
  background-color: #000;
  opacity: 0.3;
}

.banner-con .banner-img .gm_sever {
  width: 250px;
  height: 430px;
  background-color: #fff;
  overflow: hidden;
}

.banner-con .banner-img .gm_sever .gome_news {
  height: 147px;
  width: 220px;
  margin: 0 15px;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
}

.banner-con .banner-img .gm_sever .gome_news_title {
  height: 36px;
  width: 100%;
}

.banner-con .banner-img .gm_sever .gome_news_title h2 {
  padding-top: 12px;
  font-size: 12px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-con .banner-img .gm_sever .gome_news_title h2 a {
  font-size: 12px;
  color: #888;
}

.banner-con .banner-img .gm_sever .server_box {
  height: 146px;
  width: 220px;
  margin: 0 15px;
}

.banner-con .banner-img .gm_sever .edit-mode {
  width: 100%;
  margin-top: 7px;
}

.banner-con .banner-img .gm_sever .gome_news_con span {
  display: flex;
  width: 100%;
}

.banner-con .banner-img .gm_sever .gome_news_con span a {
  font-size: 12px;
  color: #888888;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:hover {
  color: #f5004b;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:nth-child(1) {
  width: 24px;
  height: 26px;
  overflow: hidden;
  margin-right: 7px;
  line-height: 26px;
}

.banner-con .banner-img .gm_sever .gome_news_con span a:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 196px;
  line-height: 26px;
}

.banner-con .banner-img .gm_sever .server_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-con .banner-img .gm_sever .server_box div {
  width: 55px;
  height: 70px;
  margin-right: 28px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-con .banner-img .gm_sever .server_box div i {
  color: #373737;
  font-size: 32px;
}

.banner-con .banner-img .gm_sever p {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-size: 12px;
  cursor: pointer;
  margin-top: 3px;
}

.countdown_main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 252px;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.countdown_main .countdown_left {
  height: 252px;
  width: 950px;
  border-top: 1px solid #dd00a7;
}

.countdown_main .countdown_left_title {
  height: 40px;
  width: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.countdown_main .countdown_left_title p {
  font-size: 18px;
  color: #f5004b;
}

.countdown_main .countdown_left_con {
  width: 100%;
  height: 209px;
  border-bottom: 1px solid #e6e6e6;
}

.countdown_main .countdown_left_con ul {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #e6e6e6;
}

.countdown_main .countdown_left_con ul li {
  height: 209px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-left: 0;
}

.countdown_main .countdown_left_con ul img {
  width: 120px;
  height: 120px;
  align-self: center;
}

.countdown_main .countdown_left_con ul span {
  display: block;
  margin-left: 20px;
  box-sizing: border-box;
  color: #ff0027;
  font-size: 20px;
  margin-top: 6px;
}

.countdown_main .countdown_left_con ul p {
  color: #5e5e5e;
  font-size: 12px;
  line-height: 18px;
  margin: 0 20px;
  overflow: hidden;
  height: 18px;
}

.countdown_main .countdown_right {
  height: 252px;
  width: 240px;
  border: 1px solid #e6e6e6;
  border-top-color: #dd00a7;
}

.countdown_main .countdown_right img {
  width: 100%;
  height: 100%;
}

.fullcategory {
  display: block;
  width: 999px;
  background-color: #fff;
  min-height: 448px;
  max-height: 525px;
  opacity: initial !important;
  position: absolute;
  left: 200px;
  top: 41px;
  z-index: 999;
  border: 1px solid #818181;
  display: none;
}

.fullcategory .fullcategory-left {
  width: 789px;
  overflow: hidden;
  background: #fbfbfb;
  min-height: 446px;
  max-height: 525px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.fullcategory .fullcategory-left .full-list-top ul {
  display: flex;
}

.fullcategory .fullcategory-left .full-list-top ul li > a {
  white-space: nowrap;
  height: 20px;
  background: #f5004b;
  margin-right: 10px;
  padding: 0 5px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
}

.fullcategory .fullcategory-left .full-list-top ul a:hover {
  color: #fff !important;
}

.fullcategory .fullcategory-left .full-list-con li {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.fullcategory .fullcategory-left .full-list-con li:nth-child(9) {
  width: 50%;
}

.fullcategory .fullcategory-left .full-list-con li > a:nth-child(1) {
  width: 61px;
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  color: #5e5e5e;
  height: 22px;
  line-height: 22px;
  float: left;
  border-style: none;
  padding-left: 0;
}

.fullcategory .fullcategory-left .full-list-con li > a {
  color: #5e5e5e;
  font-size: 12px;
  float: left;
  padding: 0 7px;
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
  border-left: 1px solid #e0e0e0;
  white-space: nowrap;
  display: inline-block;
}

.fullcategory .fullcategory-right {
  float: right;
  width: 210px;
  min-height: 448px;
  max-height: 515px;
  background: #fff;
  display: flex;
  align-items: center;
}

#nav-search {
  display: none;
  margin-left: 200px;
}

.search-con-nav {
  width: 500px;
  height: 30px;
  display: flex;
  align-items: center;
}

.search-con-nav .search-type > div {
  width: 63px;
  height: 30px;
  border: 1px solid #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A5A5A5;
}

.search-con-nav .search-type i {
  background-image: url("../images/ui.png");
  background-position: -145px -1469px;
  width: 11px;
  height: 7px;
  display: block;
  margin-left: 5px;
}

.search-con-nav label {
  flex: 1;
  height: 30px;
  border: 1px solid #dd00a7;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-con-nav input {
  width: calc(100% - 25px);
  height: 18px;
  border: none;
  background: #fff;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #bbb;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-con-nav .search-con-nav > label > i {
  width: 15px;
  height: 20px;
  display: block;
  background-image: url(../images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 3px;
  opacity: .55;
}

.search-con-nav button {
  width: 90px;
  height: 30px;
  border: 1px solid #dd00a7;
  background-color: #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}

.footer-con {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0;
  background: #f7f7f7;
  position: relative;
}

.footer-con .clearfix {
  width: 315px;
  height: 85px;
  display: block;
  float: left;
  display: flex;
}

.footer-con .clearfix strong {
  font-size: 16px;
  color: #333;
}

.footer-con .clearfix p {
  font-size: 12px;
  color: #999;
}

.footer-con .clearfix i {
  width: 45px;
  height: 45px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer-con .clearfix div {
  width: 210px;
  overflow: hidden;
  height: 45px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-con .clearfix:nth-child(1) > i {
  background-position: 0 -135px;
}

.footer-con .clearfix:nth-child(2) > i {
  background-position: -45px -135px;
}

.footer-con .footer_list {
  display: flex;
  width: 100%;
  height: 22px;
}

.footer-con .footer_list li {
  padding-right: 13px;
}

.footer-con .footer_list a {
  font-size: 12px;
  color: #333;
}

.footer-con .gome-foot-credit {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
  height: 72px;
  overflow: hidden;
  display: flex;
}

.footer-con .gome-foot-credit li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-con .gome-foot-credit i {
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer-con .gome-foot-credit b {
  height: 36px;
  color: #999;
  font-size: 12px;
  padding: 0 20px 0 5px;
}

.footer-con .gome-foot-credit li:nth-child(1) i {
  background-position: 0 -180px;
}

.footer-con .gome-foot-credit li:nth-child(2) i {
  background-position: -35px -180px;
}

.footer-con .gome-foot-credit li:nth-child(3) i {
  background-position: -70px -180px;
}

.footer-con .gome-foot-credit li:nth-child(4) i {
  background-position: -105px -180px;
}

.footer-con .gome-foot-credit li:nth-child(5) i {
  background-position: -140px -180px;
}

.footer-con .gome-foot-credit li:nth-child(6) i {
  background-position: -175px -180px;
}

.footer-con .gome-foot-credit li:nth-child(7) i {
  background-position: -238px -180px;
}

.footer-con > p {
  font-size: 12px;
  color: #999;
  height: 22px;
}

.footer_wx {
  width: 250px;
  height: 112px;
  display: flex;
  position: absolute;
  top: 18px;
  right: 0;
}

.footer_wx p {
  margin: 0 10px;
  text-align: center;
}

.footer_wx p > span {
  font-size: 12px;
  color: #999;
}

.footer_wx p > i {
  width: 40px;
  height: 25px;
  display: block;
  background-image: url(../images/ui.png);
}

.footer_wx > p:nth-child(1) i {
  background-position: -105px -135px;
}

.footer_wx > p:nth-child(2) i {
  background-position: -185px -135px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.mienr {
  width: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}

.search-con {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-con .logo {
  width: 125px;
  height: 56px;
}

.search-con .logo a {
  width: 125px;
  height: 56px;
  display: block;
  background-image: url(../images/logo.png);
}

.search-con .search_waps {
  width: 500px;
  height: 52px;
  margin-left: 200px;
}

.search-con .search-con {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.search-con .search-type {
  width: 63px;
  height: 30px;
  border: 1px solid #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  color: #A5A5A5;
}

.search-con .search-type div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-con .search-type i {
  background-image: url("../images/ui.png");
  background-position: -145px -1469px;
  width: 11px;
  height: 7px;
  display: block;
  margin-left: 5px;
}

.search-con .search-con label {
  flex: 1;
  height: 30px;
  border: 1px solid #dd00a7;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-con .search-con input {
  width: calc(100% - 25px);
  height: 18px;
  border: none;
  background: #fff;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #bbb;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-con .search-con > label > i {
  width: 15px;
  height: 20px;
  display: block;
  background-image: url(../images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 3px;
  opacity: .55;
}

.search-con .search-con > button {
  width: 90px;
  height: 30px;
  border: 1px solid #dd00a7;
  background-color: #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}

.search-con .search-title {
  width: 500px;
  height: 14px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.search-con .search-title a {
  font-size: 12px;
  color: #A5A5A5;
  margin-right: 8px;
}

.search-con .search-title a:nth-child(1) {
  color: #f5004b;
}

.search-con .search-title a:hover {
  color: #f5004b;
}

.search-con .cat {
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-con .i-cart {
  background: url("../images/ui.png") -100px -701px;
  width: 27px;
  height: 20px;
  display: block;
  position: relative;
}

.search-con .i-cart span {
  background-image: url(../images/气泡.png);
  width: 20px;
  height: 26px;
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -18px;
  right: -5px;
}

.search-con .cat p {
  font-size: 12px;
  color: #5E5E5E;
  margin-left: 5px;
  line-height: 12px;
  margin-right: 20px;
}

.search-con .cat p:hover {
  color: #f5004b;
  border-bottom: 1px solid #f5004b;
}

.search-con .cat > i {
  width: 8px;
  height: 5px;
  display: block;
  background-image: url(../images/倒三角.png);
  background-position: center;
  background-size: cover;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.mienr {
  width: 100%;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}

.header-con {
  width: 1200px;
  height: 31px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-con ul {
  display: flex;
}

.header-con li {
  display: flex;
  align-items: center;
  position: relative;
}

.header-con li > a {
  font-size: 12px;
  color: #888;
}

.header-con .gome-top-right a,
.header-con .gome-top-left a {
  display: flex;
  align-items: center;
}

.header-con .gome-top-left li:nth-child(1) a {
  margin-left: 10px;
  margin-right: 15px;
}

.header-con .gome-top-left li:nth-child(1) i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.header-con .gome-top-left li:nth-child(2) a {
  margin-right: 10px;
}

.header-con .gome-link-register {
  color: #f5004b;
}

.header-con .gome-link-register i {
  width: 12px;
  height: 13px;
  background-image: url("../images/ui.png");
  background-position: -145px -1496px;
  margin-left: 5px;
}

.header-con .gome-top-right > li:nth-child(1) a {
  margin-right: 10px;
}

.header-con .gome-service em {
  background-image: url(../images/客服.png);
  width: 15px;
  height: 15px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 6px;
}

.header-con .gome-phone em {
  background-image: url(../images/手机.png);
  width: 15px;
  height: 15px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 6px;
}

.gome-top-right > li:nth-child(1) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(1) > a {
  margin-left: 10px;
}

.gome-top-right > li:nth-child(2) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(2) > a {
  margin-left: 10px;
}

.gome-top-right > li:nth-child(3) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(3) > a {
  margin-left: 10px;
}

.gome-top-right > li:nth-child(4) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(4) > a {
  margin-left: 10px;
}

.gome-top-right > li:nth-child(5) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(5) > a {
  margin-left: 10px;
}

.gome-top-right > li:nth-child(6) > a i {
  background-image: url("../images/ui.png");
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  display: block;
  margin: 0 6px;
}

.gome-top-right > li:nth-child(6) > a {
  margin-left: 10px;
}

.drop {
  position: relative;
  border: 1px solid #f8f8ff;
}

.drop div {
  width: 200px;
  padding: 15px;
  position: absolute;
  top: 31px;
  right: 0;
  left: auto;
  z-index: 999;
  border: 1px solid #eeeeee;
  display: none;
  border-top: 0;
  background-color: #fff;
}

.drop div > a {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-position: 0 -1511px;
  background-image: url(../images/ui.png);
  margin: 0;
}

.drop:hover {
  border-color: #eeeeee;
  border-bottom-color: #fff;
  border-top: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.drop:hover div {
  display: block;
}

.loginsen {
  position: relative;
  border: 1px solid #f8f8ff;
}

.loginsen div {
  width: 290px;
  padding: 15px;
  position: absolute;
  left: -1px;
  top: 31px;
  background: #fff;
  z-index: 999;
  border: 1px solid #eeeeee;
  display: none;
  border-top: 0;
}

.loginsen div .user_name {
  width: 55px !important;
  height: 55px !important;
  border-radius: 50px;
  display: block !important;
  background-image: url(../images/ui.png) !important;
  background-position: 0 -337px !important;
}

.loginsen div p {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999;
  margin-left: 20px;
}

.loginsen div p a {
  color: #069;
}

.loginsen:hover {
  border-color: #eeeeee;
  border-bottom-color: #fff;
  border-top: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.loginsen:hover div {
  display: flex;
  align-items: center;
}

#ipone_hover {
  width: auto;
}

#ipone_hover a {
  display: inline-block;
  height: 170px;
  width: 130px;
  background-position: 0 -799px;
}

.elevator {
  z-index: 960;
  position: fixed;
  left: 35px;
  top: 268px;
  display: block;
  width: 66px;
  display: none;
  background: #fff;
}

.elevator .elevator_top {
  background: #f6f6f6;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  line-height: 31px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

.elevator li {
  border: 1px solid #e6e6e6;
  border-top: 0;
}

.elevator .handler > li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px;
  height: 43px;
  font-size: 12px;
  color: #5e5e5e;
}

.elevator .flTop,
.elevator .fl_bottom {
  height: 30px !important;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.elevator .flTop a,
.elevator .fl_bottom a {
  height: 30px !important;
  text-align: center;
  line-height: 30px;
}

.elevator .flTop a > i,
.elevator .fl_bottom a > i {
  display: block;
  font-size: 20px;
  color: #5e5e5e;
}

#intolk {
  width: 750px;
  height: 467px;
  background-image: url(../images/T1bgV5Bshv1RCvBVdK_750_467.png);
  background-position: center;
  background-size: 100%;
  display: none;
  background-repeat: no-repeat;
}

.column {
  width: 1200px;
  height: 482px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column .column_left {
  width: 420px;
  height: 100%;
}

.column .column_left .column_left_con {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: space-between;
}

.column .column_left .con_left_img {
  width: 219px;
  height: 418px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

.column .column_left .con_left2_img img {
  width: 199px;
  height: 209px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-left: 0;
}

.column .column_right {
  width: 340px;
  height: 100%;
}

.column .column_right .con_right_img {
  width: 100%;
  display: flex;
}

.column .column_right .con_right_img div:nth-child(1) img {
  width: 219px;
  height: 209px;
  border: 1px solid #e6e6e6;
}

.column .column_right .con-img-list {
  border: 1px solid #e6e6e6;
  border-left: 0;
}

.column .column_right .con-img-list a {
  width: 118px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.column .column_title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.column .column_title i {
  width: 70px;
  height: 28px;
  display: block;
  background-image: url(../images/uiIE6.png);
}

.column .title1 i {
  background-position: -169px -100px;
}

.column .title2 i {
  background-position: -169px -132px;
}

.column .title3 i {
  background-position: -169px -164px;
}

.column .column_title p {
  font-size: 20px;
  color: #ccc;
  margin-left: 15px;
}

.coupon {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  margin-top: 20px;
}

.coupon .coupon_con {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.summary {
  margin-top: 40px;
  background: #f7f7f7;
  width: 100%;
  height: 426px;
  padding: 20px 0 30px;
  box-sizing: border-box;
}

.summary .summary-con {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.summary .summary_list {
  width: 954px;
  margin-right: 12px;
  box-sizing: border-box;
}

.summary .summary_list h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary .summary_list h3 a {
  font-size: 12px;
  color: #333;
}

.summary .summary_list h3 a:hover {
  color: #f5004b;
}

.summary .summary_list h3 span {
  font-size: 18px;
  line-height: 38px;
  color: #333;
}

.summary .summary_waps {
  width: 954px;
}

.summary .summary_waps ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.summary .summary_waps ul li {
  width: 306px;
  height: 338px;
  box-sizing: border-box;
  padding-bottom: 12px;
  background: #fff;
}

.summary .summary_waps ul li img {
  width: 100%;
  height: 180px;
}

.summary .summary_waps ul li div {
  height: 124px;
  padding: 0 20px;
}

.summary .summary_waps ul li div h2 a {
  font-size: 16px;
  color: #000000;
  line-height: 28px;
  height: 28px;
  margin: 14px 0 7px;
  display: block;
  overflow: hidden;
  word-break: break-all;
}

.summary .summary_waps ul li div p {
  line-height: 18px;
  height: 54px;
  margin-bottom: 17px;
}

.summary .summary_waps ul li div p a {
  color: #5e5e5e;
  font-size: 12px;
}

.summary .summary_waps ul li div h6 {
  width: 100%;
  display: flex;
}

.summary .summary_waps ul li div h6 > span:nth-child(1) {
  display: block;
  height: 18px;
  font-size: 12px;
  padding-left: 21px;
  line-height: 18px;
  background-image: url(../images/summary/love.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-right: 38px;
}

.summary .summary_waps ul li div h6 > span:nth-child(2) {
  display: block;
  height: 18px;
  font-size: 12px;
  padding-left: 21px;
  line-height: 18px;
  background-image: url(../images/summary/discuss.png);
  background-position: left;
  background-repeat: no-repeat;
}

.summary .summary-text {
  width: 234px;
  height: 100%;
  background-color: #fff;
}

.summary .summary-text h3 {
  width: 100%;
  height: 38px;
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
}

.summary .summary-text h3 > a {
  font-size: 12px;
  color: #333;
}

.summary .summary-text h3 a:hover {
  color: #f5004b;
}

.summary .summary-text .list-con {
  width: 100%;
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.summary .summary-text .list-con img {
  width: 200px;
}

.summary .summary-text .list-con > div {
  width: 100%;
  display: flex;
  padding: 15px 0 12px;
  margin-bottom: 14px;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
}

.summary .summary-text .list-con > div > span {
  font-size: 12px;
  color: #888;
}

.summary .summary-text .list-txt span {
  padding: 2px 3px;
  background-color: #ff7612;
  color: #fff;
}

.summary .summary-text .list-txt a {
  color: #000;
  font-size: 14px;
}

.summary .summary-text .tel-txt li {
  font-size: 14px;
  color: #888;
  height: 22px;
  line-height: 22px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
