.login_ace {
  font-size: 12px;
  color: #333;
  position: absolute;
  top: 50px;
  right: 24%;
}

.login_ace a {
  color: #2875cc;
}

.search-con {
  width: 990px;
}

.search-con .search_waps {
  display: none;
}

.search-con .cat {
  display: none;
}

.search-con .logo > a {
  width: 300px;
  height: 62px;
  background-image: url(../images/login/registerlogo.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.footer {
  background-color: #ffffff;
  height: 204px;
}

.footer .footer-con {
  border-top: 1px solid #e6e6ee;
  width: 990px;
  background-color: #ffffff;
}

.footer .footer-con .footer_wx {
  display: none;
}

.footer .footer-con .clearfix {
  display: none;
}

.register {
  width: 100%;
  height: 600px;
  border-top: 1px solid #dd00a7;
  margin-bottom: 70px;
}

.register .register-con {
  width: 376px;
  height: 100%;
  margin: 0 auto;
}

.register .register-con .step-slider {
  background: #fff;
  margin-top: 40px;
  height: 100%;
}

.register .register-con .step-slider form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register .register-con .step-slider form > label {
  margin-bottom: 20px;
}

.register .register-con .step-slider form > label > input {
  padding: 8px 10px 7px;
  width: 268px;
  height: 25px;
  border: 1px solid #ccc;
  outline: 0 none;
  color: #333;
  font-size: 14px;
  line-height: 21px;
  z-index: 2;
}

.register .register-con .step-slider button {
  display: block;
  width: 290px;
  height: 42px;
  background: #ff5757;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border: 0 none;
  outline: 0;
  word-spacing: 3px;
  cursor: pointer;
}

.error {
  font-size: 14px;
  display: block;
  color: #ff5757;
}

.code input {
  float: left;
}
