@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

a:hover {
  color: #e3101e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

fieldset {
  border: 0;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: 31px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
}

.search {
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 783px;
}

.content {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #f7f7f7;
  margin-top: 15px;
}

.search-con {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-con .logo {
  width: 125px;
  height: 56px;
}

.search-con .logo a {
  width: 125px;
  height: 56px;
  display: block;
  background-image: url(../images/logo.png);
}

.search-con .search_waps {
  width: 500px;
  height: 52px;
  margin-left: 200px;
}

.search-con .search-con {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.search-con .search-type {
  width: 63px;
  height: 30px;
  border: 1px solid #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  color: #A5A5A5;
}

.search-con .search-type div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-con .search-type i {
  background-image: url("../images/ui.png");
  background-position: -145px -1469px;
  width: 11px;
  height: 7px;
  display: block;
  margin-left: 5px;
}

.search-con .search-con label {
  flex: 1;
  height: 30px;
  border: 1px solid #dd00a7;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-con .search-con input {
  width: calc(100% - 25px);
  height: 18px;
  border: none;
  background: #fff;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #bbb;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-con .search-con > label > i {
  width: 15px;
  height: 20px;
  display: block;
  background-image: url(../images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 3px;
  opacity: .55;
}

.search-con .search-con > button {
  width: 90px;
  height: 30px;
  border: 1px solid #dd00a7;
  background-color: #dd00a7;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}

.search-con .search-title {
  width: 500px;
  height: 14px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.search-con .search-title a {
  font-size: 12px;
  color: #A5A5A5;
  margin-right: 8px;
}

.search-con .search-title a:nth-child(1) {
  color: #f5004b;
}

.search-con .search-title a:hover {
  color: #f5004b;
}

.search-con .cat {
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-con .i-cart {
  background: url("../images/ui.png") -100px -701px;
  width: 27px;
  height: 20px;
  display: block;
  position: relative;
}

.search-con .i-cart span {
  background-image: url(../images/气泡.png);
  width: 20px;
  height: 26px;
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -18px;
  right: -5px;
}

.search-con .cat p {
  font-size: 12px;
  color: #5E5E5E;
  margin-left: 5px;
  line-height: 12px;
  margin-right: 20px;
}

.search-con .cat p:hover {
  color: #f5004b;
  border-bottom: 1px solid #f5004b;
}

.search-con .cat > i {
  width: 8px;
  height: 5px;
  display: block;
  background-image: url(../images/倒三角.png);
  background-position: center;
  background-size: cover;
}
